<section class="card bg-dark card-size-profile">
  <div class="card-header">
    <h5 mediTranslate="medilabApp.emergencyContact.home.title"></h5>
  </div>
  <div class="card-body table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col"><span class="text-primary" mediTranslate="medilabApp.emergencyContact.name">Name</span></th>
        <th scope="col"><span class="text-primary" mediTranslate="medilabApp.emergencyContact.phone">Phone</span></th>
        <th scope="col"><span class="text-primary" mediTranslate="medilabApp.emergencyContact.email">Email</span></th>
        <th scope="col"><span class="text-primary" mediTranslate="medilabApp.emergencyContact.relationShip">Relationship</span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contact of emergencyContacts" data-cy="entityTable">
        <td *ngIf="contact">{{ contact.name }}</td>
        <td *ngIf="contact">{{ contact.phone }}</td>
        <td *ngIf="contact">{{ contact.email }}</td>
        <td *ngIf="contact">{{ contact.relationShip }}</td>
      </tr>
      </tbody>
    </table>
    <div>
    </div>
  </div>
</section>
