<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="emergencyContact">
      <h2 data-cy="emergencyContactDetailsHeading">
        <span mediTranslate="medilabApp.emergencyContact.detail.title">Emergency Contact</span>
      </h2>

      <hr />

      <medi-alert-error></medi-alert-error>

      <medi-alert></medi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span mediTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ emergencyContact.id }}</span>
        </dd>
        <dt><span mediTranslate="medilabApp.emergencyContact.name">Name</span></dt>
        <dd>
          <span>{{ emergencyContact.name }}</span>
        </dd>
        <dt><span mediTranslate="medilabApp.emergencyContact.phone">Phone</span></dt>
        <dd>
          <span>{{ emergencyContact.phone }}</span>
        </dd>
        <dt><span mediTranslate="medilabApp.emergencyContact.email">Email</span></dt>
        <dd>
          <span>{{ emergencyContact.email }}</span>
        </dd>
        <dt><span mediTranslate="medilabApp.emergencyContact.relationShip">Relation Ship</span></dt>
        <dd>
          <span>{{ emergencyContact.relationShip }}</span>
        </dd>
        <dt><span mediTranslate="medilabApp.emergencyContact.patient">Patient</span></dt>
        <dd>
          <div *ngIf="emergencyContact.patient">
            <a [routerLink]="['/patient', emergencyContact.patient?.id, 'view']">{{ emergencyContact.patient?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span mediTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/emergency-contact', emergencyContact.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span mediTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
