<div class="card bg-dark col-10">
  <h2 id="page-heading" data-cy="AppointmentTreatmentAilmentHeading">
    <span>DIAGNOSTICO</span>
  </h2>

  <div class="table-responsive" id="entities" *ngIf="appointmentTreatmentAilments && appointmentTreatmentAilments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>

          <th scope="col"><span mediTranslate="medilabApp.appointmentTreatmentAilment.ailment">Ailment</span></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let diagnosis of appointmentTreatmentAilments" data-cy="entityTable">
          <td>
            {{diagnosis.ailment?.name}}
          </td>

          <!-- Treatment table -->
          <td class="text-center col-8" >
            <div *ngIf="diagnosis.treatment">
              <medi-show-treatment-toggle [treatment]="diagnosis.treatment"></medi-show-treatment-toggle>
            </div>

          </td>

          <!-- Buttons Section -->
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/appointment-treatment-ailment', diagnosis.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/appointment-treatment-ailment', diagnosis.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                type="submit"
                (click)="delete(diagnosis)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
