<section>
  <div class="card bg-dark p-5">
    <div class="mb-3 text-center">
      <h3 class="text-primary" mediTranslate="medilabApp.treatment.titleUpdate" *ngIf="!isRegister"></h3>
      <h3 class="text-primary" mediTranslate="medilabApp.treatment.titleRegister" *ngIf="isRegister"></h3>
    </div>
    <!--Form-->
    <div class="text-justify">
      <form name="registerForm" role="form" autocomplete="off" (ngSubmit)="save()" [formGroup]="editForm">
        <div class="form-group">
          <label class="form-control-label text-white" mediTranslate="medilabApp.treatment.medicines" for="fieldMedicines">Medicines</label>
          <input type="text" class="form-control" name="medicines" id="fieldMedicines" data-cy="medicines" formControlName="medicines" />
        </div>

        <div class="form-group">
          <label class="form-control-label text-white" mediTranslate="medilabApp.treatment.duration" for="fieldDuration">Duration</label>
          <input type="text" class="form-control" name="duration" id="fieldDuration" data-cy="duration" formControlName="duration" />
        </div>

        <div class="form-group">
          <label class="form-control-label text-white" mediTranslate="medilabApp.treatment.specifications" for="fieldSpecifications"
          >Specifications</label
          >
          <textarea
            type="text"
            class="form-control"
            name="specifications"
            id="fieldSpecifications"
            data-cy="specifications"
            formControlName="specifications"
          ></textarea>
        </div>

        <div class="row m-0 p-0 my-2">
          <div class="col p-0 mr-1">
            <medi-cancel-button></medi-cancel-button>
          </div>
          <div class="col p-0 ml-1">
            <button
              type="submit"
              class="btn btn-secondary w-100"
              [disabled]="editForm.invalid"
            >
              <fa-icon icon="save"></fa-icon>
              <span mediTranslate="entity.action.save"></span>
            </button>
         </div>
        </div>
      </form>
    </div>
  </div>
</section>
