<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto my-5 card bg-dark">
        <div class="text-center mt-3">
          <h2 mediTranslate="medilabApp.invoice.home.title"></h2>
        </div>

        <div class="mt-4">
          <div class="alert alert-warning text-center" id="no-result" *ngIf="!invoices.length">
            <span class="h5 text-dark" mediTranslate="medilabApp.invoice.home.notFound">No invoices found</span>
          </div>
          <div class="table-responsive" id="entities" *ngIf="invoices && invoices.length">
            <table class="table table-striped" aria-describedby="page-heading">
              <thead>
                <tr>
                  <th scope="col"><span mediTranslate="medilabApp.invoice.id">Número</span></th>
                  <th scope="col"><span mediTranslate="medilabApp.invoice.date">Date</span></th>
                  <th scope="col"><span mediTranslate="medilabApp.invoice.total">Total</span></th>
                  <th scope="col"><span mediTranslate="medilabApp.invoice.status">Status</span></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let invoice of invoices" data-cy="entityTable">
                  <td>{{ invoice.id }}</td>
                  <td>{{ invoice.date | date }}</td>
                  <td>{{ invoice.total }}</td>
                  <td>{{ invoice.status | invoicePipe }}</td>
                  <td class="text-right">
                    <div class="btn-group">
                      <button
                        type="submit"
                        [routerLink]="['/main/appointment', invoice.appointment.id, 'view']"
                        class="btn btn-info mr-1"
                        data-cy="entityDetailsButton"
                      >
                        <fa-icon icon="eye"></fa-icon>
                        <span class="d-none d-md-inline" mediTranslate="medilabApp.appointment.action.view">View</span>
                      </button>
                      <button
                        type="submit"
                        [routerLink]="['/main/invoice', invoice.id, 'view']"
                        class="btn btn-info"
                        data-cy="entityDetailsButton"
                      >
                        <fa-icon icon="eye"></fa-icon>
                        <span class="d-none d-md-inline" mediTranslate="medilabApp.invoice.action.view">View</span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
