<section>
  <div class="card bg-dark p-5">
    <div class="text-center p-0 m-0">
      <h2 class="text-primary py-2" mediTranslate="medilabApp.medicalExams.update"></h2>
    </div>
    <div class="card-body">
      <form name="editForm" role="form" autocomplete="off" (submit)="save()" [formGroup]="editForm">
        <div class="form-group">
          <label class="form-control-label text-white" mediTranslate="medilabApp.medicalExams.name" for="fieldName">Name</label>
          <input type="text" class="form-control" name="name" id="fieldName" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label text-white" for="fieldDescription" mediTranslate="medilabApp.medicalExams.description">Example textarea</label>
          <textarea class="form-control" id="fieldDescription" rows="3" formControlName="description"></textarea>
        </div>
        <div class="row m-0 p-0 my-3">
          <div class="col p-0 mr-1">
            <medi-cancel-button></medi-cancel-button>
          </div>
          <div class="col p-0 ml-1">
            <button
              type="submit"
              id="saveEntity"
              data-cy="entityUpdateSaveButton"
              [disabled]="editForm.invalid"
              class="btn btn-primary col-12"
            >
              <fa-icon icon="save"></fa-icon>&nbsp;<span mediTranslate="entity.action.save">Save</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
