<div>
  <h2 id="page-heading" data-cy="PatientHeading">
    <span mediTranslate="medilabApp.patient.home.title">Patients</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span mediTranslate="medilabApp.patient.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-patient"
        [routerLink]="['/patient/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span mediTranslate="medilabApp.patient.home.createLabel"> Create a new Patient </span>
      </button>
    </div>
  </h2>

  <medi-alert-error></medi-alert-error>

  <medi-alert></medi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="patients?.length === 0">
    <span mediTranslate="medilabApp.patient.home.notFound">No patients found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="patients && patients.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span mediTranslate="global.field.id">ID</span></th>
          <th scope="col"><span mediTranslate="medilabApp.patient.secondSurname">Second Surname</span></th>
          <th scope="col"><span mediTranslate="medilabApp.patient.phone">Phone</span></th>
          <th scope="col"><span mediTranslate="medilabApp.patient.token">Token</span></th>
          <th scope="col"><span mediTranslate="medilabApp.patient.active">Active</span></th>
          <th scope="col"><span mediTranslate="medilabApp.patient.internalUser">Internal User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/patient', patient.id, 'view']">{{ patient.id }}</a>
          </td>
          <td>{{ patient.secondSurname }}</td>
          <td>{{ patient.phone }}</td>
          <td>{{ patient.token }}</td>
          <td>
            {{ patient.internalUser?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/patient', patient.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/patient', patient.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(patient)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
