<div class="card bg-dark my-4">
  <div class="card-header">
    <h5 mediTranslate="medilabApp.emergencyContact.home.title" class="m-0 p-0"></h5>

    <div class="d-flex justify-content-end m-0 p-0">
      <button
        *ngIf="emergencyContactsTotal < 3"
        (click)="showCreateContactModal()"
        id="createContact"
        data-cy="entityCreateButton"
        class="btn btn-primary"
      >
        <fa-icon icon="plus"></fa-icon>
        <span mediTranslate="home.btnNewContact"> Create a new Contact </span>
      </button>
    </div>
  </div>

  <div class="card-body">
    <div class="alert alert-warning" id="no-result" *ngIf="emergencyContacts?.length === 0">
      <span mediTranslate="medilabApp.emergencyContact.home.notFound">No emergencyContacts found</span>
    </div>
    <div class="table-responsive" id="entities" *ngIf="emergencyContacts && emergencyContacts.length > 0">
      <table class="table table-striped table-hover" aria-describedby="page-heading">
        <thead>
        <tr class="text-primary">
          <th scope="col" class="h6"><span mediTranslate="medilabApp.emergencyContact.name">Name</span></th>
          <th scope="col" class="h6"><span mediTranslate="medilabApp.emergencyContact.phone">Phone</span></th>
          <th scope="col" class="h6"><span mediTranslate="medilabApp.emergencyContact.email">Email</span></th>
          <th scope="col" class="h6"><span mediTranslate="medilabApp.emergencyContact.relationShip">Relationship</span></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let emergencyContact of emergencyContacts" data-cy="entityTable">
          <td *ngIf="emergencyContact.patient">{{ emergencyContact.name }}</td>
          <td *ngIf="emergencyContact.patient">{{ emergencyContact.phone }}</td>
          <td *ngIf="emergencyContact.patient">{{ emergencyContact.email }}</td>
          <td *ngIf="emergencyContact.patient">{{ emergencyContact.relationShip }}</td>
          <td class="text-right" *ngIf="emergencyContact.patient">
            <div class="btn-group">
              <button
                type="submit"
                (click)="showModifyContactModal(emergencyContact)"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.edit">Edit</span>
              </button>
              <button
                *ngIf="emergencyContactsTotal > 1"
                type="submit"
                (click)="deleteEmergencyContact(emergencyContact)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
