<div>
  <h2 id="page-heading" data-cy="EmergencyContactHeading">
    <span mediTranslate="medilabApp.emergencyContact.home.title">Emergency Contacts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span mediTranslate="medilabApp.emergencyContact.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-emergency-contact"
        [routerLink]="['/emergency-contact/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span mediTranslate="medilabApp.emergencyContact.home.createLabel"> Create a new Emergency Contact </span>
      </button>
    </div>
  </h2>

  <medi-alert-error></medi-alert-error>

  <medi-alert></medi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="emergencyContacts?.length === 0">
    <span mediTranslate="medilabApp.emergencyContact.home.notFound">No emergencyContacts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="emergencyContacts && emergencyContacts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span mediTranslate="global.field.id">ID</span></th>
          <th scope="col"><span mediTranslate="medilabApp.emergencyContact.name">Name</span></th>
          <th scope="col"><span mediTranslate="medilabApp.emergencyContact.phone">Phone</span></th>
          <th scope="col"><span mediTranslate="medilabApp.emergencyContact.email">Email</span></th>
          <th scope="col"><span mediTranslate="medilabApp.emergencyContact.relationShip">Relation Ship</span></th>
          <th scope="col"><span mediTranslate="medilabApp.emergencyContact.patient">Patient</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emergencyContact of emergencyContacts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/emergency-contact', emergencyContact.id, 'view']">{{ emergencyContact.id }}</a>
          </td>
          <td>{{ emergencyContact.name }}</td>
          <td>{{ emergencyContact.phone }}</td>
          <td>{{ emergencyContact.email }}</td>
          <td>{{ emergencyContact.relationShip }}</td>
          <td>
            <div *ngIf="emergencyContact.patient">
              <a [routerLink]="['/patient', emergencyContact.patient?.id, 'view']">{{ emergencyContact.patient?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/emergency-contact', emergencyContact.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/emergency-contact', emergencyContact.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(emergencyContact)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
