<div class="card bg-dark p-5">
  <div class="card-body">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class="text-center p-0 m-0">
        <h3
          class="align-items-center text-primary"
          id="medi-ailment-heading"
          data-cy="AilmentCreateUpdateHeading"
          mediTranslate="medilabApp.ailment.home.createOrEditLabel"
        ></h3>
      </div>
      <div>
        <medi-alert-error></medi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" mediTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        <div class="w-50 m-auto">
          <div class="form-group">
            <label class="form-control-label text-white" mediTranslate="medilabApp.ailment.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          </div>
        </div>
      </div>
      <div class="row m-0 p-0 my-3">
        <div class="col p-0 mr-1">
          <medi-cancel-button></medi-cancel-button>
        </div>
        <div class="col p-0 ml-1">
          <button
            class="btn btn-primary w-100"
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span mediTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
