<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="commentUser">
      <h2 data-cy="commentUserDetailsHeading"><span mediTranslate="medilabApp.commentUser.detail.title">Comment User</span></h2>

      <hr />

      <medi-alert-error></medi-alert-error>

      <medi-alert></medi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span mediTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ commentUser.id }}</span>
        </dd>
        <dt><span mediTranslate="medilabApp.commentUser.comment">Comment</span></dt>
        <dd>
          <div *ngIf="commentUser.comment">
            <a [routerLink]="['/comment', commentUser.comment?.id, 'view']">{{ commentUser.comment?.id }}</a>
          </div>
        </dd>
        <dt><span mediTranslate="medilabApp.commentUser.patient">Patient</span></dt>
        <dd>
          <div *ngIf="commentUser.patient">
            <a [routerLink]="['/patient', commentUser.patient?.id, 'view']">{{ commentUser.patient?.id }}</a>
          </div>
        </dd>
        <dt><span mediTranslate="medilabApp.commentUser.doctor">Doctor</span></dt>
        <dd>
          <div *ngIf="commentUser.doctor">
            <a [routerLink]="['/doctor', commentUser.doctor?.id, 'view']">{{ commentUser.doctor?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span mediTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/comment-user', commentUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span mediTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
