<section class="row p-0 m-0">
  <div class="col-md-10 mx-auto my-5 card bg-dark">
    <div class="text-center mt-3">
      <h2 mediTranslate="medilabApp.doctor.home.title"></h2>
    </div>
    <div class="mt-4">
      <div class="alert alert-warning text-center" id="no-result" *ngIf="doctors.length === 0">
        <span class="h5 text-dark" mediTranslate="medilabApp.doctor.home.notFound">No doctors found</span>
      </div>
      <div class="table-responsive" id="entities" *ngIf="doctors && doctors.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr class="text-primary">
              <th scope="col" class="h6"><span mediTranslate="medilabApp.doctor.list.completeName">Complete Name</span></th>
              <th scope="col" class="h6"><span mediTranslate="medilabApp.doctor.list.email">Complete Name</span></th>
              <th scope="col" class="h6"><span mediTranslate="medilabApp.doctor.specialty">Specialty</span></th>
              <th scope="col" class="h6"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doctor of doctors; trackBy: trackId" data-cy="entityTable">
              <td>
                {{ doctor.fullName }}
              </td>
              <td>{{ doctor.email }}</td>
              <td>{{ doctor.specialty }}</td>
              <td class="text-right">
                <a
                  target="_blank"
                  class="btn btn-secondary"
                  href="https://wa.me/50688885353?text=Solicito%20una%20cita%20con%20el%20doctor"
                >
                  <fa-icon icon="calendar-alt"></fa-icon>
                  <span class="d-none d-md-inline" mediTranslate="medilabApp.doctor.list.btnDate">Solicitar una cita</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
