<section class="row p-0 m-0">
  <div class="col-10 my-4 mx-auto">
    <div class="text-center my-5">
      <h2 data-cy="patientDetailsHeading">{{doctor.fullName}}</h2>
      <h5 class="text-muted">{{doctor.doctorCode}}</h5>
    </div>
    <div class="row m-0 p-0 card-body">
      <div class="col-6 ">
        <medi-user-profile [user]="doctor" ></medi-user-profile>
      </div>
      <div class="col-6 card bg-dark">
        <h1>AQUI VA EL COMPONENTE REUTILIZABLE DE LAS CALIFICACIONES DE UN DOCTOR EN UN CARD</h1>
      </div>
    </div>
    <div class="row m-0 p-0 card-body my-4">
      <div class="col-12 card bg-dark">
        <h1>AQUI VA EL COMPONENTE REUTILIZABLE DE LOS COMENTATIOS DE UN DOCTOR EN UN CARD</h1>
      </div>
    </div>
  </div>
</section>
