@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../content/scss/bootstrap-variables';

.navbar-brand span:first-of-type {
  color: $brand;
}

.navbar-brand span:last-of-type {
  color: $brand-dark;
}

.navbar-title {
  font-size: 1.35rem;
  font-weight: 500;
}
