<div class="card bg-dark p-5">
  <div class="card-body">
    <medi-emergency-form #formElement [showTitleCount]="false"></medi-emergency-form>
    <div class="row m-0 p-0 my-2">
      <div class="col p-0 mr-1">
        <medi-cancel-button></medi-cancel-button>
      </div>
      <div class="col p-0 ml-1">
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="btn btn-primary w-100"
          (click)="save()"
          [disabled]="contactForm.invalid"
        >
          <fa-icon icon="save"></fa-icon>
          <span mediTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </div>
  </div>
</div>
