<section>
  <div class="card col-12 bg-dark p-0 m-0">
    <div class="card-header d-flex ">
      <h5 data-cy="userManagementPageHeading" mediTranslate="userManagement.home.title"></h5>

      <div class="justify-content-end">
        <button class="btn btn-primary jh-create-entity" [routerLink]="['/main/admin/user-management/new']">
          <fa-icon icon="plus"></fa-icon> <span mediTranslate="userManagement.home.createLabel">Create a new User</span>
        </button>
      </div>
    </div>

    <div class="card-body p-0">
      <div class="alert alert-warning text-center" id="no-result" *ngIf="users.length === 0">
        <span class="h5 text-dark" mediTranslate="medilabApp.appointment.home.notFound"></span>
      </div>

      <div class="table-responsive" *ngIf="users.length !== 0" >
        <table class="table table-striped" aria-describedby="user-management-page-heading">
          <thead>

          <tr class="text-primary">
            <th scope="col" class="h6" mediTranslate="userManagement.login">Login</th>
            <th scope="col" class="h6" mediTranslate="userManagement.firstName">Name</th>
            <th scope="col" class="h6" mediTranslate="userManagement.email">Email</th>
            <th scope="col" class="h6" mediTranslate="userManagement.langKey">Lang Key</th>
            <th scope="col" class="h6" mediTranslate="userManagement.profiles">Profiles</th>
            <th></th>
          </tr>
          </thead>
          <tbody *ngIf="users">
          <tr *ngFor="let user of users">
            <td>{{ user.login }}</td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.langKey | language }}</td>
            <td>
              <div *ngFor="let authority of user.authorities">
                <span>{{ authority | role }}</span>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button type="submit" class="btn btn-info btn-sm" (click)="viewProfile(user)">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" mediTranslate="entity.action.view">View</span>
                </button>

                <button type="submit" [routerLink]="['/main/admin/user-management/', user.login, 'edit']" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" mediTranslate="entity.action.edit">Edit</span>
                </button>

                <button
                  class="btn btn-danger btn-sm"
                  (click)="setActive(user, true)"
                  *ngIf="!user.activated"
                  mediTranslate="userManagement.deactivated"
                >
                  Deactivated
                </button>
                <button
                  class="btn btn-success btn-sm"
                  (click)="setActive(user, false)"
                  *ngIf="user.activated"
                  [disabled]="!currentAccount || currentAccount.login === user.login"
                  mediTranslate="userManagement.activated"
                >
                  Activated
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>


<div>


  <medi-alert-error></medi-alert-error>

  <medi-alert></medi-alert>

</div>
