<div class="row justify-content-center">
  <div class="col-8">
    <form name="editCoomentForm" role="form" novalidate (ngSubmit)="saveComment()" [formGroup]="editCoomentForm">
      <h2
        id="medi-line-comment-heading"
        data-cy="LineCommentCreateUpdateHeading"
        mediTranslate="medilabApp.lineComment.home.createOrEditLabel"
      >
        Create or edit a Line Comment
      </h2>

      <div>
        <medi-alert-error></medi-alert-error>

        <div class="form-group" [hidden]="editCoomentForm.get('id')!.value == null">
          <label class="form-control-label" mediTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" mediTranslate="medilabApp.lineComment.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" mediTranslate="medilabApp.lineComment.quantity" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="form-group">
          <label class="form-control-label" mediTranslate="medilabApp.lineComment.unitPrice" for="field_unitPrice">Unit Price</label>
          <input type="number" class="form-control" name="unitPrice" id="field_unitPrice" data-cy="unitPrice" formControlName="unitPrice" />
        </div>
  <!--
        <div class="form-group">
          <label class="form-control-label" mediTranslate="medilabApp.lineComment.invoiceCode" for="field_invoiceCode">Invoice Code</label>
          <select class="form-control" id="field_invoiceCode" data-cy="invoiceCode" name="invoiceCode" formControlName="invoiceCode">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="invoiceOption.id === editForm.get('invoiceCode')!.value?.id ? editForm.get('invoiceCode')!.value : invoiceOption"
              *ngFor="let invoiceOption of invoicesSharedCollection; trackBy: trackInvoiceById"
            >
              {{ invoiceOption.id }}
            </option>
          </select>
        </div> -->
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span mediTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editCoomentForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span mediTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
