<section>
  <div class="card bg-dark p-5">
    <form #resumeForm="ngForm" autocomplete="off">
      <div class="card-body">
        <div class="d-flex justify-content-between card-title mb-5">
          <h3 class="d-flex align-items-center text-primary" mediTranslate="medilabApp.invoice.home.createLabel"></h3>
          <button class="btn btn-primary" (click)="addLine()" [disabled]="resumeForm.invalid">
            <fa-icon icon="plus"></fa-icon>&nbsp;<span mediTranslate="medilabApp.invoice.addLine"></span>
          </button>
        </div>
        <div class="row justify-content-between">
          <div class="col-md">
            <h5 class="align-items-center text-white w-auto" mediTranslate="medilabApp.lineComment.description"></h5>
          </div>
          <div class="col-md">
            <h5 class="align-items-center text-white w-auto" mediTranslate="medilabApp.lineComment.quantity"></h5>
          </div>
          <div class="col-md">
            <h5 class="align-items-center text-white w-auto" mediTranslate="medilabApp.lineComment.unitPrice"></h5>
          </div>
          <div class="col-md"></div>
        </div>
        <div class="row align-items-center justify-content-between" *ngFor="let lineComment of invoice.lineComments; let i = index">
          <div class="col-md-3">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="description{{ i }}"
                [(ngModel)]="lineComment.description"
                #description="ngModel"
                required
                [ngClass]="{ 'is-invalid': description.invalid && (description.touched || resumeForm.submitted) }"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                name="quantity{{ i }}"
                [(ngModel)]="lineComment.quantity"
                #quantity="ngModel"
                required
                [ngClass]="{ 'is-invalid': quantity.invalid && (quantity.touched || resumeForm.submitted) }"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                name="unitPrice{{ i }}"
                [(ngModel)]="lineComment.unitPrice"
                #unitPrice="ngModel"
                required
                [ngClass]="{ 'is-invalid': unitPrice.invalid && (unitPrice.touched || resumeForm.submitted) }"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <button
                class="btn btn-danger"
                [disabled]="emptyLineDelete(invoice.lineComments)"
                (click)="deleteLine(lineComment, i)"
                mediTranslate="medilabApp.lineComment.deleteLine"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row m-0 p-0 my-3">
      <div class="col p-0 mr-1">
        <medi-cancel-button></medi-cancel-button>
      </div>
      <div class="col p-0 ml-1">
        <button
          type="submit"
          id="saveEntity"
          data-cy="entityCreateSaveButton"
          [disabled]="resumeForm.invalid || !emptyLine(invoice)"
          class="btn btn-primary col-12"
          (click)="saveComment()"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span mediTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </div>
  </div>
</section>
