<div>
  <h2 id="page-heading" data-cy="CommentUserHeading">
    <span mediTranslate="medilabApp.commentUser.home.title">Comment Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span mediTranslate="medilabApp.commentUser.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-comment-user"
        [routerLink]="['/comment-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span mediTranslate="medilabApp.commentUser.home.createLabel"> Create a new Comment User </span>
      </button>
    </div>
  </h2>

  <medi-alert-error></medi-alert-error>

  <medi-alert></medi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="commentUsers?.length === 0">
    <span mediTranslate="medilabApp.commentUser.home.notFound">No commentUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="commentUsers && commentUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span mediTranslate="global.field.id">ID</span></th>
          <th scope="col"><span mediTranslate="medilabApp.commentUser.comment">Comment</span></th>
          <th scope="col"><span mediTranslate="medilabApp.commentUser.patient">Patient</span></th>
          <th scope="col"><span mediTranslate="medilabApp.commentUser.doctor">Doctor</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commentUser of commentUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/comment-user', commentUser.id, 'view']">{{ commentUser.id }}</a>
          </td>
          <td>
            <div *ngIf="commentUser.comment">
              <a [routerLink]="['/comment', commentUser.comment?.id, 'view']">{{ commentUser.comment?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="commentUser.patient">
              <a [routerLink]="['/patient', commentUser.patient?.id, 'view']">{{ commentUser.patient?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="commentUser.doctor">
              <a [routerLink]="['/doctor', commentUser.doctor?.id, 'view']">{{ commentUser.doctor?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/comment-user', commentUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/comment-user', commentUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(commentUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
