<medi-header></medi-header>

<main>
  <!-- Title -->
  <section class="row p-0 m-0 my-3">
    <div class="col-md-12 text-center">
      <h1 mediTranslate="register.title" data-cy="registerTitle">Registration</h1>
      <p class="text-muted"><span mediTranslate="register.form.step"> Step</span>
        {{ currentStep + 1 }} <span mediTranslate="register.form.of">of</span> 3</p>
    </div>
  </section>

  <!-- Errors -->
  <section class="row p-0 m-0">
    <div class="col-12 text-center">
      <!-- <div class="alert alert-success" *ngIf="success" mediTranslate="register.messages.success">
        <strong>Registration saved!</strong> Please check your email for confirmation.
      </div>
      <div class="alert alert-danger" *ngIf="error" mediTranslate="register.messages.error.fail">
        <strong>Registration failed!</strong> Please try again later.
      </div>
      <div class="alert alert-danger" *ngIf="errorUserExists" mediTranslate="register.messages.error.userexists">
        <strong>Login name already registered!</strong> Please choose another one.
      </div>
      <div class="alert alert-danger" *ngIf="errorEmailExists" mediTranslate="register.messages.error.emailexists">
        <strong>Email is already in use!</strong> Please choose another one.
      </div>
      <div class="alert alert-danger" *ngIf="doNotMatch" mediTranslate="global.messages.error.dontmatch">
        The password and its confirmation do not match!
      </div> -->
    </div>
  </section>

  <!-- Wizard form -->
  <section class="row p-0 m-0">
    <div id="ml-register" class="card col-md-5 mx-auto my-4">
      <div id="formContainer" class="card-body">
        <form name="registerForm" role="form" autocomplete="off" [formGroup]="registerForm">
          <div id="formContainer">
            <medi-personal-info *ngIf="currentStep === 0" [personalDataForm]="currentGroup"> </medi-personal-info>

            <medi-contact-info *ngIf="currentStep === 1" [contactInfoForm]="currentGroup"> </medi-contact-info>

            <medi-confirm-password *ngIf="currentStep === 1" (password)="validatePassword($event)"> </medi-confirm-password>

            <medi-emergency-contact *ngIf="currentStep === 2" #emergencyContact> </medi-emergency-contact>
          </div>
        </form>
      </div>

      <!-- Buttons -->
      <div class="card-footer">
        <div class="row m-0 p-0 justify-content-center align-middle">
          <button
            class="btn btn-secondary col-4 m-2"
            mediTranslate="register.form.previous"
            [disabled]="currentStep === 0"
            (click)="previousStep()"
          ></button>

          <button
            class="btn btn-primary col-4 m-2"
            mediTranslate="register.form.next"
            *ngIf="currentStep !== 2"
            [disabled]="currentStep === 2"
            (click)="nextStep()"
          ></button>

          <button
            class="btn btn-success col-4 m-2"
            mediTranslate="register.form.button"
            *ngIf="currentStep === 2"
            (click)="registerUser(emergencyContact)"
          ></button>
        </div>
      </div>
    </div>
  </section>
</main>
