@import '../../../content/scss/bootstrap-variables';

#ml-register {
  background-color: $dark;
  padding: 2rem 3rem 1rem 3rem;
  max-height: 40rem;
  min-height: 40rem;

  #formContainer {
    overflow-y: auto;
  }
}
