<div>
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 mediTranslate="register.title" data-cy="registerTitle">Registration</h1>
      <!-- <div class="alert alert-success" *ngIf="success" mediTranslate="register.messages.success">
        <strong>Registration saved!</strong> Please check your email for confirmation.
      </div>
      <div class="alert alert-danger" *ngIf="error" mediTranslate="register.messages.error.fail">
        <strong>Registration failed!</strong> Please try again later.
      </div>
      <div class="alert alert-danger" *ngIf="errorUserExists" mediTranslate="register.messages.error.userexists">
        <strong>Login name already registered!</strong> Please choose another one.
      </div>
      <div class="alert alert-danger" *ngIf="errorEmailExists" mediTranslate="register.messages.error.emailexists">
        <strong>Email is already in use!</strong> Please choose another one.
      </div>
      <div class="alert alert-danger" *ngIf="doNotMatch" mediTranslate="global.messages.error.dontmatch">
        The password and its confirmation do not match!
      </div> -->
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-5 ml-register">
      <form name="registerForm" role="form" autocomplete="off" [formGroup]="registerForm">
        <medi-personal-info *ngIf="currentStep === 0" [personalDataForm]="currentGroup"> </medi-personal-info>

        <medi-contact-info *ngIf="currentStep === 1" [contactInfoForm]="currentGroup"></medi-contact-info>

        <medi-emergency-contact *ngIf="currentStep === 2"></medi-emergency-contact>

        <div class="text-center">
          <button
            class="btn btn-secondary"
            mediTranslate="register.form.previous"
            [disabled]="currentStep === 0"
            (click)="previousStep()"
          ></button>

          <button
            class="btn btn-primary"
            mediTranslate="register.form.next"
            *ngIf="currentStep !== 2"
            [disabled]="currentStep === 2"
            (click)="nextStep()"
          ></button>

          <button class="btn btn-success" mediTranslate="register.form.button" *ngIf="currentStep === 2" (click)="registerUser()"></button>
        </div>
      </form>
      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
</div>
