@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../content/scss/bootstrap-variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  height: 90vh !important;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

.active,
.list-group-item-dark.list-group-item-action:hover,
.list-group-item-dark.list-group-item-action:focus{
  background-color: $secondary !important;
  color: $brand-light !important;
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}

.ml-navbar {
  display: block;
  height: 100%;
}

.ml-navbar-nav {
  display: flex;
  flex-direction: column;
}

.navbar-nav a {
  font-size: 0.8rem;
}
