<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark ml-navbar m-0">
  <a
    class="navbar-toggler d-lg-none"
    href="javascript:void(0);"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <fa-icon icon="bars"></fa-icon>
  </a>
  <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
    <ul class="navbar-nav ml-navbar-nav mt-5">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
          <span>
            <fa-icon icon="home"></fa-icon>
            <span mediTranslate="global.menu.home">Home</span>
          </span>
        </a>
      </li>
      <li class="nav-item"
          routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link"
           routerLink="appointment"
           (click)="collapseNavbar()">
          <span>
            <fa-icon icon="th-list"></fa-icon>
            <span mediTranslate="global.menu.reports.appointmentHistory">Appointment History</span>
          </span>
        </a>
      </li>
      <li>
      </li>

      <!-- Doctor List-->
      <li *mediHasAnyAuthority="'ROLE_PATIENT'" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="doctor" (click)="collapseNavbar()">
          <span>
            <fa-icon icon="clinic-medical" [fixedWidth]="true"></fa-icon>
            <span mediTranslate="global.menu.entities.doctor">Doctor</span>
          </span>
        </a>
      </li>
      <!-- NEW USER -->
      <li *mediHasAnyAuthority="'ROLE_ADMIN'" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="admin/user-management/new" (click)="collapseNavbar()">
          <span>
            <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
            <span mediTranslate="userManagement.home.createLabel">User management</span>
          </span>
        </a>
      </li>

      <!-- Invoice List-->
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="invoice" (click)="collapseNavbar()">
          <span>
            <fa-icon icon="file-invoice-dollar" [fixedWidth]="true"></fa-icon>
            <span mediTranslate="global.menu.entities.invoices">Doctor</span>
          </span>
        </a>
      </li>

      <!-- Ailment Report-->
      <li *mediHasAnyAuthority="'ROLE_ADMIN'" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="ailment/ailment-report" (click)="collapseNavbar()">
          <span>
            <fa-icon icon="file-alt" [fixedWidth]="true"></fa-icon>
            <span mediTranslate="global.menu.entities.ailmentReport"></span>
          </span>
        </a>
      </li>

      <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
      <li
        *ngSwitchCase="true"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
          <span>
            <fa-icon icon="th-list"></fa-icon>
            <span mediTranslate="global.menu.entities.main">Entities</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
          <li>
            <a
              class="dropdown-item"
              routerLink="patient"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.entities.patient">Patient</span>
            </a>
          </li>

          <li>
            <a
              class="dropdown-item"
              routerLink="appointment"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.entities.appointment">Appointment</span>
            </a>
          </li>

          <li>
            <a
              class="dropdown-item"
              routerLink="emergency-contact"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.entities.emergencyContact">Emergency Contact</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="treatment"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.entities.treatment">Treatment</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="ailment"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.entities.ailment">Ailment</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="appointment-treatment-ailment"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.entities.appointmentTreatmentAilment">Appointment Treatment Ailment</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="medical-exams"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.entities.medicalExams">Medical Exams</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="line-comment"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.entities.lineComment">Line Comment</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="binnacle"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.entities.binnacle">Binnacle</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="rating"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.entities.rating">Rating</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="rating-user"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.entities.ratingUser">Rating User</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="comment"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.entities.comment">Comment</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="comment-user"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.entities.commentUser">Comment User</span>
            </a>
          </li>
          <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
        </ul>
      </li>
      <!--li
        *mediHasAnyAuthority="'ROLE_ADMIN'"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
          <span>
            <fa-icon icon="users-cog"></fa-icon>
            <span mediTranslate="global.menu.admin.main">Administration</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
          <li>
            <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.admin.userManagement">User management</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.admin.metrics">Metrics</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.admin.health">Health</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.admin.configuration">Configuration</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.admin.logs">Logs</span>
            </a>
          </li>
          <li *ngIf="openAPIEnabled">
            <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
              <span mediTranslate="global.menu.admin.apidocs">API</span>
            </a>
          </li>

        </ul>
      </li-->
      <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->

      <li>
        <a>
          <span *ngIf="account?.imageUrl">
            <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
