<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark ml-navbar m-0 p-0 fixed">
  <div class="border-end bg-dark p-0 m-0">
    <div class="list-group list-group-flush">

      <!-- HOME -->
      <a class="h5 list-group-item list-group-item-action list-group-item-dark bg-dark text-muted p-0 m-0 p-4 border-0"
         routerLink="/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon icon="home"></fa-icon>
        <span mediTranslate="global.menu.home">Home</span>
      </a>

      <!-- DOCTOR LIST -->
      <a *mediHasAnyAuthority="'ROLE_PATIENT'"
         class="h5 list-group-item list-group-item-action list-group-item-dark bg-dark text-muted p-0 m-0 p-4 border-0"
         routerLink="doctor"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon icon="clinic-medical" [fixedWidth]="true"></fa-icon>
        <span mediTranslate="global.menu.entities.doctor">Doctor</span>
      </a>

      <!-- NEW USER -->
      <a *mediHasAnyAuthority="'ROLE_ADMIN'"
         class="h5 list-group-item list-group-item-action list-group-item-dark bg-dark text-muted p-0 m-0 p-4 border-0"
         routerLink="admin/user-management/new"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
        <span mediTranslate="userManagement.home.createLabel">User management</span>
      </a>

      <!-- AILMENTS -->
      <a *mediHasAnyAuthority="'ROLE_ADMIN'"
         class="h5 list-group-item list-group-item-action list-group-item-dark bg-dark text-muted p-0 m-0 p-4 border-0"
         routerLink="ailment"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon icon="clipboard-list" [fixedWidth]="true"></fa-icon>
        <span mediTranslate="medilabApp.ailment.home.title"></span>
      </a>

      <!-- INVOICE LIST -->
      <a class="h5 list-group-item list-group-item-action list-group-item-dark bg-dark text-muted p-0 m-0 p-4 border-0"
         routerLink="invoice"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon icon="file-invoice-dollar" [fixedWidth]="true"></fa-icon>
        <span mediTranslate="global.menu.entities.invoices">Doctor</span>
      </a>

      <!-- APPOINTMENT HISTORY -->
      <a class="h5 list-group-item list-group-item-action list-group-item-dark bg-dark text-muted p-0 m-0 p-4 border-0"
         routerLink="appointment/history"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon icon="file-medical" [fixedWidth]="true"></fa-icon>
        <span mediTranslate="medilabApp.appointment.history.title"></span>
      </a>

      <!-- AILMENT REPORT -->
      <a *mediHasAnyAuthority="'ROLE_ADMIN'"
         class="h5 list-group-item list-group-item-action list-group-item-dark bg-dark text-muted p-0 m-0 p-4 border-0"
         routerLink="ailment/ailment-report"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon icon="file-alt" [fixedWidth]="true"></fa-icon>
        <span mediTranslate="global.menu.entities.ailmentReport"></span>
      </a>

    </div>
  </div>
</nav>
