<div class="mb-4 text-center">
  <h3 mediTranslate="register.tabs.emergencyContact">Contacto de emergencia</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-info btn-sm" (click)="createComponent()" [disabled]="formContacts.length === 3">
        <fa-icon icon="plus"></fa-icon>
        <span class="ml-1" mediTranslate="register.form.addContact"> Add emergency contact </span>
      </button>
    </div>

    <div class="col-12">
      <ng-container #containerElement></ng-container>
    </div>
  </div>
</div>
