<!-- Wizard form -->
<section class="row p-0 m-0 mt-5">
  <div id="ml-register" class="card col-md-7 mx-auto my-4">
    <!-- Form -->
    <div id="formContainer" class="card-body overflow-auto">
      <form name="registerForm" role="form" autocomplete="off" [formGroup]="registerForm">
        <div id="formContainer">
          <medi-personal-info *ngIf="currentStep === 0" [personalDataForm]="currentGroup"> </medi-personal-info>

          <medi-contact-info *ngIf="currentStep === 1" [contactInfoForm]="currentGroup"> </medi-contact-info>

          <div *ngIf="currentStep === 1">
            <label class="form-control-label" for="userType" mediTranslate="global.form.userType">Tipo de usuario</label>
            <select name="userType" id="userType" class="form-control" formControlName="role">
              <option *ngFor="let rol of roles" [ngValue]="rol.abbrev">
                {{ rol.name | translate }}
              </option>
            </select>
          </div>

          <div class="mt-3" *ngIf="isUser && currentStep === 1">
            <!-- Specialty -->
            <div class="form-group">
              <label class="form-control-label" for="specialty" mediTranslate="register.form.specialty">Specialty</label>
              <input type="text" class="form-control" id="specialty" name="specialty" formControlName="specialty" data-cy="specialty" />
            </div>
          </div>

          <div class="mt-3" *ngIf="isPatient && currentStep === 1">
            <medi-emergency-form #contact></medi-emergency-form>
          </div>
        </div>
      </form>
    </div>

    <!-- Buttons -->
    <div class="card-footer">
      <div class="row m-0 p-0 justify-content-center align-middle">
        <button
          class="btn btn-secondary col-4 m-2"
          mediTranslate="register.form.previous"
          [disabled]="currentStep === 0"
          (click)="previousStep()"
        ></button>

        <button
          class="btn btn-primary col-4 m-2"
          mediTranslate="register.form.next"
          *ngIf="currentStep !== 1"
          [disabled]="currentStep === 1"
          (click)="nextStep()"
        ></button>

        <button
          class="btn btn-success col-4 m-2"
          mediTranslate="register.form.button"
          [disabled]="registerForm.invalid"
          *ngIf="currentStep === 1"
          (click)="validateUserData(contact)"
        ></button>
      </div>
    </div>
  </div>
</section>
