<div class="mb-4">
  <h3>Información personal</h3>
</div>

<form name="personalDataForm" role="form" autocomplete="off" [formGroup]="personalDataForm">
<!-- Id -->
<div class="form-group">
  <label class="form-control-label" for="identification"
    mediTranslate="global.form.identification.label">Username</label>
  <input type="text" class="form-control" id="identification" name="identification"
    placeholder="{{ 'global.form.identification.placeholder' | translate }}" formControlName="login"
    data-cy="identification" #login />
<!-- Errors -->
  <div
    *ngIf="personalDataForm.get('login')!.invalid && (personalDataForm.get('login')!.dirty || personalDataForm.get('login')!.touched)">
    <small class="form-text text-danger" *ngIf="personalDataForm.get('login')?.errors?.required"
      mediTranslate="register.messages.validate.login.required">
      Your username is required.
    </small>

    <small class="form-text text-danger" *ngIf="personalDataForm.get('login')?.errors?.minlength"
      mediTranslate="register.messages.validate.login.minlength">
      Your username is required to be at least 1 character.
    </small>

    <small class="form-text text-danger" *ngIf="personalDataForm.get('login')?.errors?.maxlength"
      mediTranslate="register.messages.validate.login.maxlength">
      Your username cannot be longer than 50 characters.
    </small>

    <small class="form-text text-danger" *ngIf="personalDataForm.get('login')?.errors?.pattern"
      mediTranslate="register.messages.validate.login.pattern">
      Your username can only contain letters and digits.
    </small>
  </div>
</div>

<!-- Name -->
<div class="form-group">
  <label class="form-control-label" for="name" mediTranslate="global.form.name.label">Nombre</label>
  <input type="text" class="form-control" id="name" name="name"
    placeholder="{{ 'global.form.name.placeholder' | translate }}" formControlName="name" data-cy="name"
    #login />

  <div
    *ngIf="personalDataForm.get('name')!.invalid && (personalDataForm.get('name')!.dirty || personalDataForm.get('name')!.touched)">
    <small class="form-text text-danger" *ngIf="personalDataForm.get('name')?.errors?.required"
      mediTranslate="register.messages.validate.login.required">
      Your name is required.
    </small>

    <small class="form-text text-danger" *ngIf="personalDataForm.get('name')?.errors?.minlength"
      mediTranslate="register.messages.validate.login.minlength">
      Your name is required to be at least 1 character.
    </small>

    <small class="form-text text-danger" *ngIf="personalDataForm.get('name')?.errors?.maxlength"
      mediTranslate="register.messages.validate.login.maxlength">
      Your username cannot be longer than 50 characters.
    </small>

    <small class="form-text text-danger" *ngIf="personalDataForm.get('name')?.errors?.pattern"
      mediTranslate="register.messages.validate.login.pattern">
      Your name can only contain letters and digits.
    </small>
  </div>
</div>

<!-- Lastname -->
<div class="form-group">
  <label class="form-control-label" for="lastname" mediTranslate="global.form.lastname.label">Apellido</label>
  <input type="text" class="form-control" id="name" name="name"
    placeholder="{{ 'global.form.lastname.placeholder' | translate }}" formControlName="lastname"
    data-cy="lastname" #login />

  <div
    *ngIf="personalDataForm.get('lastname')!.invalid && (personalDataForm.get('lastname')!.dirty || personalDataForm.get('lastname')!.touched)">
    <small class="form-text text-danger" *ngIf="personalDataForm.get('lastname')?.errors?.required"
      mediTranslate="register.messages.validate.login.required">
      Your name is required.
    </small>

    <small class="form-text text-danger" *ngIf="personalDataForm.get('name')?.errors?.minlength"
      mediTranslate="register.messages.validate.login.minlength">
      Your lastname is required to be at least 1 character.
    </small>

    <small class="form-text text-danger" *ngIf="personalDataForm.get('name')?.errors?.maxlength"
      mediTranslate="register.messages.validate.login.maxlength">
      Your lastname cannot be longer than 50 characters.
    </small>

    <small class="form-text text-danger" *ngIf="personalDataForm.get('name')?.errors?.pattern"
      mediTranslate="register.messages.validate.login.pattern">
      Your lastname can only contain letters and digits.
    </small>
  </div>
</div>

<!-- Second Lastname -->
<div class="form-group">
  <label class="form-control-label" for="secondLastname"
    mediTranslate="global.form.secondlastname.label">Segundo apellido</label>
  <input type="text" class="form-control" id="secondlastname" name="secondlastname"
    placeholder="{{ 'global.form.secondlastname.placeholder' | translate }}" formControlName="secondlastname"
    data-cy="secondlastname" />
</div>

</form>
