/* ==========================================================================
Main page styles
========================================================================== */
@import '../../content/scss/bootstrap-variables';

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
    background-size: contain;
  }
}

.ml-welcome-card {
  align-items: center;
  display: flex;
  justify-content: space-between;

  p {
    margin: 0;
    color: $brand-light;
  }

  &_badges {
    align-items: center;
    display: flex;

    span {
      background-color: $black;
    }
  }

  button:first-of-type {
    margin-right: 0.5rem;
  }
}

/* PROFILE */
.ml-profile {
}

.ml-profile-top {
  display: flex;
  padding-top: 2rem;

  > div {
    flex: 0 0 calc(50% - 0.5rem);

    &:first-child {
      margin-right: 1rem;

      div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -30px;
      }

      p {
        margin: 0;
      }

      img {
        border: 7px solid $brand;
        border-radius: 50px;
        margin-bottom: 1rem;
      }
    }
  }
}

.card-body {
  flex: 0 0 auto;

  p {
    font-size: 0.875rem;
  }

  .info-title {
    color: $brand;
    font-weight: bold;
    margin: 0;
  }
}

.ml-profile-stats {
  flex: 0 0 auto;
  display: block;

  .card-body {
    padding-top: 0;
  }

  p {
    margin-bottom: 0.5rem !important;
  }
}
