/* ==========================================================================
Main page styles
========================================================================== */
@import '../../content/scss/bootstrap-variables';

/* PROFILE */
.ml-profile {
  margin-top: 1em;

  &__top {
    display: flex;
    padding-top: rem;

    > div {
      flex: 0 0 calc(50% - 0.5rem);

      &:first-child {
        margin-right: 1rem;

        p {
          margin: 0;
        }
      }
    }
  }

  &__user-text {
    color: $brand-light;
  }

  &__agenda {
    li {
      align-items: center;
      display: flex;

      div {
        display: flex;
        flex-direction: column;

        time {
          color: $brand;
          font-size: 0.75rem;
        }
      }

      svg {
        margin-right: 1rem;
      }

      a {
        margin-left: auto;
      }
    }
  }
}

.card-body {
  flex: 0 0 auto;

  p {
    font-size: 0.875rem;
  }

  .info-title {
    color: $brand;
    font-weight: bold;
    margin: 0;
  }
}
