<div class="ml-profile">
  <div class="mb-4">
    <div class="ml-profile-top">
      <div class="card bg-dark">
        <div class="card-body">
          <div>
            <img src="../../content/images/avatar.png" width="100" alt="test" />
            <p>Jose Castro Vargas</p>
          </div>
        </div>
        <div class="ml-profile-stats">
          <div class="card-header">
            <p>Datos:</p>
          </div>
          <div class="card-body">
            <p><b>Ultima cita:</b> 08 de Diciembre de 2020</p>
            <p><b>Hora:</b> 4:00 P.M.</p>
            <p><b>Atendido por:</b> Dr. Julían Castro Fallas</p>
            <p><b>Especialidad:</b> Ortopedia</p>
            <br />
            <a target="_blank" class="btn btn-secondary" href="https://wa.me/50688885353?text=Solicito%20una%20cita%20con%20el%20doctor"
              >Solicitar una cita</a
            >
          </div>
        </div>
      </div>

      <div class="card bg-dark">
        <h5 class="card-header">Información personal</h5>
        <div class="card-body">
          <p class="info-title">Tipo de identificación</p>
          <p>Cédula de identidad</p>
          <p class="info-title">Número de identificación</p>
          <p>4-0987-0981</p>
          <p class="info-title">Género</p>
          <p>Masculino</p>
          <p class="info-title">Teléfono</p>
          <p>8765-2323</p>
          <p class="info-title">Correo electrónico</p>
          <p>jose.castro@gmail.com</p>
          <p class="info-title">Dirección</p>
          <p>San José, Curridabat, Sánchez, Lomas de Ayarco, Condominio Villas de Florencia, casa 4b.</p>
        </div>
      </div>
    </div>

    <div class="card bg-dark mt-3">
      <h5 class="card-header">Tratamientos</h5>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item" aria-current="true">An active item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>
    </div>
  </div>
</div>
