/* ==========================================================================
Main page styles
========================================================================== */
@import '../../content/scss/bootstrap-variables';

/* PROFILE */
.ml-profile {
  margin-top: 1em;

  &__top {
    display: flex;
    padding-top: rem;

    > div {
      flex: 0 0 calc(50% - 0.5rem);

      &:first-child {
        margin-right: 1rem;

        p {
          margin: 0;
        }
      }
    }
  }

  &__user-text {
    color: $brand-light;
  }
}

.card-body {
  flex: 0 0 auto;

  p {
    font-size: 0.875rem;
  }

  .info-title {
    color: $brand;
    font-weight: bold;
    margin: 0;
  }
}
