<section>
  <div class="mb-1 text-center" *ngIf="showTitle">
    <h3 class="text-primary">Tratamiento {{index + 1}}</h3>
  </div>
  <form name="editForm" role="form" autocomplete="off" [formGroup]="registerForm">
    <div class="form-group">
      <label class="form-control-label text-white" mediTranslate="medilabApp.treatment.medicines" for="fieldMedicines">Medicines</label>
      <input type="text" class="form-control" name="medicines" id="fieldMedicines" data-cy="medicines" formControlName="medicines" />
    </div>

    <div class="form-group">
      <label class="form-control-label text-white" mediTranslate="medilabApp.treatment.duration" for="fieldDuration">Duration</label>
      <input type="text" class="form-control" name="duration" id="fieldDuration" data-cy="duration" formControlName="duration" />
    </div>

    <div class="form-group">
      <label class="form-control-label text-white" mediTranslate="medilabApp.treatment.specifications" for="fieldSpecifications"
      >Specifications</label
      >
      <textarea
        type="text"
        class="form-control"
        name="specifications"
        id="fieldSpecifications"
        data-cy="specifications"
        formControlName="specifications"
      ></textarea>
    </div>


  </form>

  <div>
    <button class="btn btn-danger" (click)="removeForm()" >Delete</button>
  </div>
</section>
