<div class="container">
  <h2 id="page-heading" data-cy="AppointmentHeading">
    <span mediTranslate="medilabApp.appointment.home.title">Appointments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span mediTranslate="medilabApp.appointment.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-appointment"
        [routerLink]="['/appointment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span mediTranslate="medilabApp.appointment.home.createLabel"> Create a new Appointment </span>
      </button>
    </div>
  </h2>

  <medi-alert-error></medi-alert-error>

  <medi-alert></medi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="appointments?.length === 0">
    <span mediTranslate="medilabApp.appointment.home.notFound">No appointments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="appointments && appointments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span mediTranslate="global.field.id">ID</span></th>
          <th scope="col"><span mediTranslate="medilabApp.appointment.date">Date</span></th>
          <th scope="col"><span mediTranslate="medilabApp.appointment.status">Status</span></th>
          <th scope="col"><span mediTranslate="medilabApp.appointment.patient">Patient</span></th>
          <th scope="col"><span mediTranslate="medilabApp.appointment.doctor">Doctor</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/appointment', appointment.id, 'view']">{{ appointment.id }}</a>
          </td>
          <td>{{ appointment.date | formatMediumDate }}</td>
          <td mediTranslate="{{ 'medilabApp.Status.' + appointment.status }}">{{ appointment.status }}</td>
          <td>
            <div *ngIf="appointment.patient">
              <a [routerLink]="['/patient', appointment.patient?.id, 'view']">{{ appointment.patient?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="appointment.doctor">
              <a [routerLink]="['/doctor', appointment.doctor?.id, 'view']">{{ appointment.doctor?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/appointment', appointment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.view">View</span>
              </button>
              <button
                type="submit"
                [routerLink]="['/appointment', appointment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.edit">Edit</span>
              </button>

              <button
              type="submit"
              [routerLink]="['../rating-user/new']"
              class="btn btn-primary btn-sm"
            >
              <span class="d-none d-md-inline" mediTranslate="medilabApp.appointment.ranking">Calificar</span>
            </button>
              <button type="submit" (click)="delete(appointment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" mediTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
