<div>
  <h2 id="page-heading" data-cy="AppointmentHeading">
    <span id="appointmentHistory" mediTranslate="global.menu.reports.appointmentHistory">Appointments</span>
  </h2>
  <medi-alert-error></medi-alert-error>

  <medi-alert></medi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="appointments?.length === 0">
    <span mediTranslate="medilabApp.appointment.home.notFound">No appointments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="appointments && appointments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr>
        <th scope="col"><span mediTranslate="medilabApp.appointment.date">Date</span></th>
        <th scope="col"><span mediTranslate="medilabApp.appointment.status">Status</span></th>
        <th scope="col" *ngIf="account?.authorities?.includes('ROLE_USER')">
          <span mediTranslate="medilabApp.appointment.patient">
            Patient
          </span>
        </th>
        <th scope="col"
            *ngIf="account?.authorities?.includes('ROLE_PATIENT')">
          <span mediTranslate="medilabApp.appointment.doctor">
            Doctor
          </span></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let appointment of appointments; trackBy: trackId" data-cy="entityTable">

        <td *ngIf="(((appointment.patient?.id)?.toString() === account?.login)
          || ((appointment.doctor?.id)?.toString() === account?.login))">
          {{ appointment.date | formatMediumDate }}</td>

        <td mediTranslate="{{ 'medilabApp.Status.' + appointment.status }}"
            *ngIf="(((appointment.patient?.id)?.toString() === account?.login)
          || ((appointment.doctor?.id)?.toString() === account?.login))">
          {{ appointment.status }}
        </td>


        <td *ngIf="((appointment.doctor?.id)?.toString() === account?.login)
          && (account?.authorities?.includes('ROLE_USER'))">
          <div *ngIf="appointment.patient">
            <a [routerLink]="['/patient', appointment.patient?.id, 'view']">{{ appointment.patient?.id }}</a>
          </div>
        </td>

        <td *ngIf="((appointment.patient?.id)?.toString() === account?.login)
          && (account?.authorities?.includes('ROLE_PATIENT'))">
          <div *ngIf="appointment.doctor">
            <a [routerLink]="['/doctor', appointment.doctor?.id, 'view']">{{ appointment.doctor?.id }}</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
