<div class="ml-notifications">
  <!-- <pre><code style="background-color: yellow; color: black">{{ user | json }}</code></pre> -->
  <!-- <pre><code style="background-color: yellow; color: black">{{ canceledAppointments | json }}</code></pre>
  <pre><code style="background-color: cyan; color: black">{{ updatedAppointments | json }}</code></pre> -->
  <div class="dropdown">
    <button type="button" class="btn btn-secondary dropdown-toggle" (click)="expanded = !expanded">
      <span>Notifications</span>
      <span class="badge badge-light">
        {{ pendingAppointments.length + canceledAppointments.length + updatedAppointments.length }}
      </span>
    </button>
    <div *ngIf="expanded === true" class="notifications-dropdown-menu">
      <ul>
        <li>Pending appointments</li>
        <li *ngFor="let pending of pendingAppointments">
          <span>{{ pending?.date | date }}</span>
          <span>{{ pending?.doctor?.internalUser?.firstName }} {{ pending?.doctor?.internalUser?.lastName }}</span>
        </li>
      </ul>
      <ul>
        <li>Updated appointments</li>
        <li *ngFor="let updated of updatedAppointments">
          <span>{{ updated?.date | date }}</span>
          <span>{{ updated?.doctor?.internalUser?.firstName }} {{ updated?.doctor?.internalUser?.lastName }}</span>
        </li>
      </ul>
      <ul>
        <li>Canceled appointments</li>
        <li *ngFor="let canceled of canceledAppointments">
          <span>{{ canceled?.date | date }}</span>
          <span>{{ canceled?.doctor?.internalUser?.firstName }} {{ canceled?.doctor?.internalUser?.lastName }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
