<div class="ml-notifications">
  <div class="dropdown">
    <button
      type="button"
      class="ml-notifications__button nav-link font-weight-normal"
      (click)="expanded = !expanded"
      [disabled]="pendingAppointments.length + canceledAppointments.length + updatedAppointments.length === 0 ? true : false"
    >
      <fa-icon icon="bell"></fa-icon>
      <span>Notifications</span>
      <span class="badge badge-light">
        {{ pendingAppointments.length + canceledAppointments.length + updatedAppointments.length }}
      </span>
    </button>
    <div *ngIf="expanded === true" class="notifications-dropdown-menu" (click)="setNotified($event.target)">
      <div *ngIf="userType === 'doctor'; else patientBlock">
        <ul>
          <li *ngFor="let pending of pendingAppointments">
            <a class="notification" [routerLink]="['/main/appointment', pending.id, 'view']" [id]="pending.id">
              <span>Cita pendiente con el paciente {{ pending?.patientExt?.internalUser?.completeName }}</span>
              <span>{{ pending?.date | date }}</span>
            </a>
          </li>
        </ul>
        <ul>
          <li *ngFor="let updated of updatedAppointments">
            <a class="notification" [routerLink]="['/main/appointment', updated.id, 'view']" [id]="updated.id">
              <span>Cita modificada con el paciente {{ updated?.patientExt?.internalUser?.completeName }}</span>
              <span>{{ updated?.date | date }}</span>
            </a>
          </li>
        </ul>
        <ul>
          <li *ngFor="let canceled of canceledAppointments">
            <a class="notification" [routerLink]="['/main/appointment', canceled.id, 'view']" [id]="canceled.id">
              <span>Cita cancelada con el paciente {{ canceled?.patientExt?.internalUser?.completeName }}</span>
              <span>{{ canceled?.date | date }}</span>
            </a>
          </li>
        </ul>
      </div>
      <ng-template #patientBlock>
        <div>
          <ul>
            <li *ngFor="let pending of pendingAppointments">
              <a class="notification" [routerLink]="['/main/appointment', pending.id, 'view']" [id]="pending.id">
                <span>Cita pendiente con el médico {{ pending?.doctorExt?.internalUser?.completeName }}</span>
                <span>{{ pending?.date | date }}</span>
              </a>
            </li>
          </ul>
          <ul>
            <li *ngFor="let updated of updatedAppointments">
              <a class="notification" [routerLink]="['/main/appointment', updated.id, 'view']" [id]="updated.id">
                <span>Cita modificada con el médico {{ updated?.doctorExt?.internalUser?.completeName }}</span>
                <span>{{ updated?.date | date }}</span>
              </a>
            </li>
          </ul>
          <ul>
            <li *ngFor="let canceled of canceledAppointments">
              <a class="notification" [routerLink]="['/main/appointment', canceled.id, 'view']" [id]="canceled.id">
                <span>Cita cancelada con el médico {{ canceled?.doctorExt?.internalUser?.completeName }}</span>
                <span>{{ canceled?.date | date }}</span>
              </a>
            </li>
          </ul>
        </div>
      </ng-template>
    </div>
  </div>
</div>
