<medi-header></medi-header>

<main class="row m-0 p-0 mt-5">
  <section class="col-md-5 mx-auto mt-5">

    <div id="ml-recover-password" class="card my-5 p-5">

      <div class="text-center mt-3 mb-5">
        <h1 mediTranslate="reset.request.title">Reset your password</h1>

        <p mediTranslate="reset.request.messages.info"></p>
      </div>

      <form name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
        <div class="form-group">
          <label class="form-control-label" for="email" mediTranslate="global.form.email.label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="{{ 'global.form.email.placeholder' | translate }}"
            formControlName="email"
            data-cy="emailResetPassword"
            #email
          />

          <div
            *ngIf="
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.required"
              mediTranslate="global.messages.validate.email.required"
            >
              Your email is required.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.email"
              mediTranslate="global.messages.validate.email.invalid"
            >
              Your email is invalid.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.minlength"
              mediTranslate="global.messages.validate.email.minlength"
            >
              Your email is required to be at least 5 characters.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.maxlength"
              mediTranslate="global.messages.validate.email.maxlength"
            >
              Your email cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="text-center mt-5">
          <button
            type="submit"
            [disabled]="resetRequestForm.invalid"
            class="btn btn-lg btn-primary"
            mediTranslate="reset.request.form.button"
            data-cy="submit"
          >
            Reset
          </button>
        </div>

      </form>
    </div>

    <medi-alert-error></medi-alert-error>

  </section>
</main>


